/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin:0; padding:0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
webview-root {
    margin: 0 !important;
    padding:0; 
}
