body {
  margin-top: 20pt !important;
  padding   : 0;
}

body.vscode-light {
  color  : black;
  margin : 0;
  padding: 0;
}

body.vscode-dark {
  color  : white;
  margin : 0;
  padding: 0;
}

body.vscode-high-contrast {
  color  : red;
  margin : 0;
  padding: 0;
}

#container {
  margin    : 0;
  padding   : 0;
  margin-left : 15px;
  top        : 0;
  bottom     : 0;
  right      : 0;
}

.row {
  width: 100%;
  float: left;
}

.slidercontainer {
  float: right;
}

.textcontainer {
  float: left;
}

.background {
  white-space: pre-wrap;
  opacity    : 0.3;
}

.paragraph {
  margin-block-start: -0.5em;
  margin-block-end: 0;
}