<div id="container">
    <div id="background">
        {{ background }}
    </div>
    <div id="slidercontainer">
        <div *ngFor="let r of resultMap | keyvalue" class="slidecontainer">
            <p class="paragraph">
                <br id="br{{ r.value.lineIndex }}" *ngFor="let b of r.key">
                <mat-slider [id]="r.value.lineIndex" [style.marginBottom]="'-1.25em'" [style.marginTop]="'-1em'"
                    thumbLabel [displayWith]="updateSliderLabel" (input)="onSliderChange($event)" [(ngModel)]="value"
                    tickInterval="0" min="1" max="{{ r.value.examples[0].observedValues.length }}"></mat-slider>
                <span class="text" id="webViewText{{ r.value.lineIndex }}"></span>
            </p>
        </div>
    </div>
</div>