input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

input[type=number] {
  width: 3em;
}

.example {
  opacity: 1 !important;
  white-space: nowrap;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding     : 0;
  padding-left: 3px;

}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
  border : 0;
}

::ng-deep .mat-form-field-infix {
  padding: 0;
  border : 0;
}

.icon-button {
  background-color: transparent;
  border          : 0;
}

.mat-icon {
  vertical-align: middle;
}

.border-highlight-red {
  border : 2px dashed rgba(255, 0, 0, 0.438);
  padding: 0.03em 0.25em;
}