<span class="example paragraph" [ngStyle]="getFontStyles()">
    &#x3C; Example <b> :name= </b>
    <input matInput type="text" [(ngModel)]="name" size="{{ name.length }}">
    <span *ngFor="let input of inputs  | keyvalue">
        <b> {{ input.key }}= </b>
        <input *ngIf="!+input.value" matInput name="{{ input.key }}" type="text" value="{{ input.value }}"
            (change)="onKey($event)" size="{{ input.value.length }}">
        <input *ngIf="+input.value" name="{{ input.key }}" type="number" value="{{ input.value }}"
            (change)="onChange($event)">
    </span>
    <button mat-mini-fab color="warn" aria-label="Submit" class="icon-button" (click)="onSubmit()">
        <mat-icon class="mat-icon">open_in_new</mat-icon>
    </button>
    / &#x3E; <span [ngClass]="'border-highlight-' + color">{{ result }}</span>
    <example-creator [lineNr]="lineNr"></example-creator>
</span>