<body class="body">
    <div id="container">
        <div id="background">
            {{ background }}
        </div>
        <div id="slidercontainer">
            <div *ngFor="let r of resultMap | keyvalue" class="slidecontainer">
                <br *ngFor="let b of r.key">
                <mat-slider [id]="r.value.lineIndex" [style.marginBottom]="'-1.25em'" [style.marginTop]="'-1em'"
                    thumbLabel [displayWith]="updateSliderLabel" (change)="onSliderChange($event)" [(ngModel)]="value"
                    tickInterval="0" min="1" max="{{ r.value.examples[0].observedValues.length }}"></mat-slider>
                <div id="webViewText{{ r.value.lineIndex }}" class="text"></div>
            </div>
        </div>
    </div>
    <script>
        window.acquireVsCodeApi = acquireVsCodeApi;
    </script>
</body>